@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.TaskToggleLabel {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.TaskToggleLabel .TaskToggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.TaskToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-error-color;
  transition: 0.4s;
}

.TaskToggleSlider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: $primary-bg-color;
  transition: 0.4s;
}

.TaskToggleInput:checked + .TaskToggleSlider {
  background-color: $primary-success-color;
}

.TaskToggleInput:checked + .TaskToggleSlider:before {
  transform: translateX(20px);
}

.TaskToggleSlider.TaskToggleRound {
  border-radius: 34px;
}

.TaskToggleSlider.TaskToggleRound:before {
  border-radius: 50%;
}

.TaskToggleInput {
  position: relative;
}

.TaskToggleChecked {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  fill: $primary-bg-color;
}

.TaskToggleAttention {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  fill: $primary-bg-color;
}

.TaskToggleLoader {
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
}
