@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.AuthWrapper {
  margin: 0 auto;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;

  @include desktop {
    flex-direction: row;
    gap: 167px;
  }
}

.FormBox {
  margin: 0 auto;
  padding: 40px 0 60px;

  width: 280px;

  @include tablet {
    width: 400px;
  }
  @include desktop {
    width: 394px;
  }
}

.FooterBox {
  display: none;

  @include tablet {
    margin-top: 60px;

    display: flex;
    justify-content: center;
  }

  @include desktop {
    margin-top: 130px;

    justify-content: flex-end;
  }
}
