@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.AddPlanningBtn {
  background-color: transparent;
  outline: none;
  border: none;

  transition: transform $main-transition;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.AddPlanningBtn {
  background-color: transparent;
  outline: none;
  border: none;

  transition: transform $main-transition;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.AddPlanningLoader {
  position: absolute;
  top: 50px;
  right: 25px;
}
