@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.ContactListWr {
  margin-bottom: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 280px;

  @include tablet {
    max-width: 704px;
    gap: 20px 32px;
  }

  @include desktop {
    max-width: 1248px;
  }
}
