$primary-bg-color: #ffffff;
$secondary-bg-color: #ffbc33;
$subsidiary-bg-color: #f6f7fb;
$card-bg-color: #5679d7;
$user-info-bg-color: #2196f3;
$main-content-bg-color: #fafafa;
$points-bg-color: rgb(157, 156, 156, 0.3);
$backdrop-color: rgba(0, 0, 0, 0.2);
$week-bg-color: rgba(255, 187, 51, 0.5);
$week-secondary-bg-color: rgba(255, 255, 255, 0.5);

$primary-text-color: #000000;
$secondary-text-color: #858598;
$subsidiary-text-color: #a6abb9;
$error-text-color: #eb5757;

$primary-success-color: #8ec63f;
$primary-error-color: #fe4b64;

$main-shadow: 4px 6px 15px rgba(0, 0, 0, 0.1);
$input-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.15);
$button-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
$active-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);

$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$secondary-transition: 0.3s ease;
