@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.ContactWrapper {
  padding: 40px 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 40px 0 40px;
  }
}

.ContactTitle {
  margin-bottom: 10px;

  @include font(600, 26px, 32px);

  color: $primary-text-color;

  @include tablet {
    font-size: 30px;
    line-height: 37px;
  }
}

.ContactSubtitle {
  margin-bottom: 40px;

  @include font(400, 14px, 17px);

  letter-spacing: 0.48px;
  color: $primary-text-color;

  @include tablet {
    font-size: 18px;
    line-height: 22px;
  }
}
