@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.PhotosWrapper {
  width: 100%;
  overflow: hidden;

  @include tablet {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  @include desktop {
    position: relative;
    width: 50%;
    overflow: visible;
  }
}

.BoxFirst {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 80px;
    left: -7px;

    width: 301px;
    height: 247px;
  }
  @include desktop {
    position: absolute;
    top: 0;
    left: 0;

    width: 372px;
    height: 306px;
  }
}

.BoxSecond {
  width: 290px;
  height: 98px;

  @include tablet {
    margin-left: -5px;

    position: absolute;
    z-index: 2;
    display: block;
    top: 55px;
    left: 257px;

    width: 222px;
    height: 98px;
  }
  @include desktop {
    position: absolute;
    z-index: 0;
    top: 148px;
    left: 237px;

    width: 372px;
    height: 306px;
  }
}

.BoxThird {
  display: none;

  @include tablet {
    display: block;
    position: absolute;
    top: 326px;
    left: 10px;

    width: 372px;
    height: 306px;
  }
  @include desktop {
    display: block;
    position: absolute;
    top: 326px;
    left: 0;
  }
}

.BoxFourth {
  display: none;

  @include tablet {
    display: block;
    transform: translate(77%, 10%);

    width: 297px;
    height: 239px;
  }
  @include desktop {
    position: absolute;
    transform: translate(0);

    top: 442px;
    left: 237px;

    width: 359px;
    height: 290px;
  }
}

.Image {
  display: block;
  object-fit: contain;
}
