@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.LogOutBtn {
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
