@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.NoTaskTitle {
  margin-bottom: 20px;

  @include font(700, 12px, 15px);

  text-align: center;
  letter-spacing: 0.48px;
  color: $primary-text-color;
}

.NoTaskLinkBox {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  text-decoration: none;

  @include tablet {
    margin-bottom: 110px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.NoTaskButton {
  width: 220px;
  height: 48px;
  border: none;
  background-color: $secondary-bg-color;
  border-radius: 6px;

  @include font(500, 12px, 15px);

  letter-spacing: 0.24px;
  color: $main-content-bg-color;
  filter: drop-shadow($button-shadow);

  transition: background-color $main-transition;

  &:hover,
  &:focus {
    background-color: $primary-success-color;
  }
}
