@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.MainContainer {
  margin: 0 auto;

  width: 100%;
  width: 320px;

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1280px;
  }
}

.MainWrapper {
  padding: 20px 0 76px 0;

  display: flex;
  flex-direction: column;

  @include tablet {
    padding: 0 0 40px 0;
  }

  @include desktop {
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.MainBox {
  display: flex;
  flex-direction: column;

  @include desktop {
    padding: 32px 0 40px 0;

    min-height: 90vh;
  }
}

.FooterBox {
  margin-top: auto;
  display: flex;
  justify-content: center;

  @include desktop {
    justify-content: flex-end;
  }
}
