@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.BurgerMenuBox {
  margin-left: auto;

  @include tablet {
    display: none;
  }
}

.NavigationWrapper {
  display: none;

  @include tablet {
    margin-left: auto;

    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.NavigationLink {
  @include font(500, 12px, 15px);

  letter-spacing: 0.48px;
  text-decoration: none;
  color: $secondary-text-color;
}

.NavigationLinkActive {
  @include font(600, 12px, 15px);

  text-decoration: none;
  color: $primary-text-color;

  letter-spacing: 0.48px;
}

.NavigationBox {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  background: $backdrop-color;

  @include tablet {
    background-color: transparent;
  }
}

.NavigationBurger {
  padding-top: 94px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 274px;
  height: 100vh;

  background-color: $secondary-bg-color;
  box-shadow: -15px 0px 20px $backdrop-color;

  @include tablet {
    display: none;
  }

  .NavigationBurgerLink {
    @include font(500, 12px, 15px);

    display: block;
    text-decoration: none;
    color: $primary-bg-color;
    letter-spacing: 0.48px;
    width: 100%;

    padding: 14px 0 14px 20px;

    border-top: 1px solid $primary-bg-color;
    border-bottom: 1px solid $primary-bg-color;
    transition: color $main-transition;

    &:hover {
      color: $primary-text-color;
    }

    &:last-child {
      border-top: 1px solid transparent;
    }
  }

  .NavigationMenuClose {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: scale(1);
    transition: trtransform $main-transition;

    &:hover {
      transform: scale(1.05);
    }
  }
}
