@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.PointAmount {
  padding: 3px 10px;

  @include font(500, 10px, 12px);

  min-width: 75px;
  background-color: $card-bg-color;
  color: $primary-bg-color;
  border-radius: 3px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
}
