@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.Modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 280px;
  height: 300px;
  border-radius: 6px;
  background-color: $secondary-bg-color;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  transition: opacity $secondary-transition, visibility 0s linear 0.3s,
    transform $secondary-transition;

  &.Open {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition: opacity $secondary-transition, transform $secondary-transition;
  }
}

.ModalImage {
  width: 280px;
  height: 131px;
}

.ModalBtnAdd {
  position: absolute;
  top: 95px;
  right: 20px;

  background-color: transparent;
  border: none;
  outline: none;
}

.ModalImageAdd {
  width: 20px;
  height: 20px;
}

.ModalForm {
  padding: 20px 25px 30px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ModalAddTaskBox {
  padding: 4px 0;

  border-bottom: 1px solid $primary-bg-color;
}

.ModalLabel {
  margin-top: 6px;

  width: 224px;
  display: flex;
}

.ModalInputImg {
  width: 24px;
}

.ModalInput {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  @include font(400, 14px, 17px);
  font-style: italic;

  letter-spacing: 0.48px;
  color: $primary-bg-color;
}

.ModalButton {
  margin-top: 20px;
  text-align: center;
  width: 60px;
  height: 30px;

  background-color: $primary-bg-color;
  border: none;
  outline: none;
  border-radius: 6px;

  @include font(700, 14px, 17px);

  letter-spacing: 0.48px;
}
