@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.LogoLink {
  display: flex;
  gap: 8px;
}

.LogoText {
  @include font(700, 16px, 20px);

  letter-spacing: 0.24px;
  color: $primary-text-color;
}
