@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.CardFooterBox {
  padding: 16px 20px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 6px 6px;
  background-color: $secondary-bg-color;
}

.CardFooterWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
