@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.CardFooterBox {
  padding: 16px 20px;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 6px 6px;
  background-color: $secondary-bg-color;
}
