@import 'src/sass/utils/variables';
@import 'src/sass/utils/mixins';

.ProgressWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include tablet {
    align-items: center;
  }

  @include desktop {
    align-items: flex-end;
  }
}

.ProgressWrapperAwards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include tablet {
    align-items: flex-end;
  }

  @include desktop {
    align-items: flex-end;
  }
}

.PointsText {
  margin-bottom: 12px;

  @include font(500, 12px, 15px);

  text-align: right;
  letter-spacing: 0.48px;
  color: $subsidiary-text-color;

  @include tablet {
    text-align: center;
  }

  @include desktop {
    text-align: right;
  }
}

.PointsTextAwards {
  display: none;

  @include tablet {
    margin-bottom: 12px;

    display: block;

    @include font(500, 12px, 15px);

    text-align: right;
    letter-spacing: 0.48px;
    color: $subsidiary-text-color;
  }
}

.PointsAmount {
  margin-left: 12px;

  @include font(700, 12px, 15px);

  letter-spacing: 2.4px;
  color: $primary-text-color;
}

.ProgressBox {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.ProgressBox {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $points-bg-color;
  width: 100vw;
  height: 58px;

  @include tablet {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }
}

.PointAmount {
  @include font(400, 14px, 18px);

  text-align: right;
  letter-spacing: 2.4px;
  color: $primary-text-color;
}

.PlannedPoints {
  @include font(700, 14px, 18px);

  text-align: right;
  letter-spacing: 2.4px;
  color: $primary-text-color;
}

.ProgressTool {
  margin-left: 20px;
  margin-right: -30px;

  display: block;
  width: 150px;

  @include tablet {
    width: 350px;
  }
}
